body,
html {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

section {
  min-height: 500px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

p {
  line-height: 40px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.white_color_dark_bg {
  background-color: #000000;
  color: white;
}

.white_bg_dark_color {
  background-color: white;
  color: black;
}

.yellow_bg {
  background-color: #ffd007;
}

.first_yellow_context_aria {
  width: 35%;
  border: #18204a 1px solid;
  margin: 0 auto;
}

.green_bg {
  background-color: #37e38a;
  position: relative;
  display: flex;
  flex-direction: column;
}


.dark_blue_bg {
  background-color: #18204a;
  color: white;
}

.light_blue_bg {
  background-color: #21becb;
}

.pink_bg {
  background-color: #eec7d6;
}

.dark_bg {
  background-color: #000000;
  color: white;
}


.context_aria{
  justify-content: space-between;
}

.list_area{
  display: flex;
  justify-content: space-between;
  border: white 1px solid;
}
.columns_area{
  width: 50%;
  border: 1px solid white;
}
.columns_title{
  text-align: center;
}
.columns{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: white 1px solid;
}
.img{
  width: 22%;
  border: white 1px solid;
}
.vantagens{
  width: 22%;
  border: white 1px solid;
}

.context_aria_about_us{
  display: flex;
  justify-content: flex-start;
}

.column_about_us{
  width: 25%;
  margin-right: 35px; 
}