/* Extra large devices (large laptops and desktops, 1700px and up) */
@media only screen and (max-width: 1700px) {
  .father .left1 img {
  }
  .father .left2 img {
  }

  .father .left3 img {
  }

  .father .left4 img {
  }

  .father .right1 img {
  }
  .father .right2 img {
  }
  .father .right3 img {
  }
  .father .right4 img {
  }

  .father .center_blendy_img img {
  }

  .why_text {
    width: 50%;
    left: 25%;
  }

  .why_text h2 {
    margin-top: 10%;
    font-weight: bold;
    font-size: 40px !important;
  }

  .columns_white_curved_line {
    width: 100%;
    left: 0%;
    z-index: 1;
    top: 42%;
  }

  .left_second_rec {
    margin-top: 10%;
  }

  .left_third_rec {
    margin-top: 14%;
  }

  .left_fourth_rec {
    margin-top: 90px !important;
  }

  .left_bottle_tilted_area {
    left: 0;
  }

  /*GREEN SECTION*/

  .bottle_section {
    width: 70%;
  }

  .green_bg .foto_person_container {
    bottom: 100px;
    width: 300px;
  }

  /*blue_dark_bg*/
  .blue_dark_bg .foto_person_container {
    bottom: 200px;
  }

  /*light_blue_section*/
  .light_blue_bg .foto_person_container {
    bottom: 100px;
  }
  .light_blue_bg .vantagens {
    top: -100px;
    right: 2%;
  }
  /*PINK BG*/

  .pink_bg .foto_person_container {
    bottom: 100px;
  }

  .pink_bg .foto_person_container img {
    width: 300%;
  }

  .title_main_answer_section h1 {
    font-size: 70px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (max-width: 1500px) {
  .father div img {
  }

  .father .left1 img {
  }
  .father .left2 img {
  }

  .father .left3 img {
  }

  .father .left4 img {
  }

  .father .right1 img {
  }
  .father .right2 img {
  }
  .father .right3 img {
  }
  .father .right4 img {
  }

  .father .center_blendy_img img {
  }

  .bottle_tilted_area {
    width: 50%;
  }

  .context_area {
    margin-top: 50px;
  }

  .girls_yellow_bg {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }



  .light_blue_bg .vantagens {
    margin-top: 20%;
    font-size: 40px !important;
    width: 40%;
  }

  .vantagens h1 {
    font-size: 45px !important;
  }
  /*
  .yellow_bg .columns,
  .light_blue_bg .columns {
    display: inline;
  }

  .yellow_bg .column,
  .light_blue_bg .column {
    width: 100%;
  }
*/

  .elemento_grafico_L_line_curved {
    display: none;
  }

  .ingredients_area {
    margin: 0 0 0 0;
  }

  .left_second_rec {
    margin-top: 0%;
  }

  .left_third_rec {
    margin-top: 0%;
  }

  .left_fourth_rec {
    margin-top: 0%;
  }

  .right_second_rec {
    margin-top: 0;
  }

  .right_third_rec {
    margin-top: 0;
  }

  .right_bottle_section {
    right: 150px !important;
  }

  .title_main_answer_section h1 {
    font-size: 55px !important;
  }

  .columns_about_us {
    position: absolute;
    width: 100% !important;
  }

  .pink_bg .vantagens {
    margin-left: 300px !important;
    left: 10%;
  }

  .yellow_bg .left_person_img_area {
    bottom: 50px;
  }

  .blue_dark_bg .person_img_area {
    bottom: -300px;
  }

  .right_bottle_tilted_area {
    right: -200px;
    bottom: -200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .blendy_bg {
    top: -50px;
  }


  .why_content {
    margin-top: 150px;
  }

  .left_bottle_section {
    left: 0;
  }
  .letters_section {
    left: 0%;
  }

  .before_party_L_letter {
    width: 50%;
    left: -50%;
  }

  .letters_section img {
    width: 350%;
  }

  .blue_dark_bg .bottle_section {
    position: relative;
    right: -500px !important;
  }

  .j_letter {
    right: 0%;
  }

  .pink_bg .bottle_section img {
    width: 150% !important;
    right: 150px !important;
  }

  .father {
    width: 90%;
  }
  .father div img {
    width: 250px;
  }

  .left_blendy_img {
    width: 100%;
  }

  .father .left2 img {
    left: 20%;
  }

  .father .left3 img {
    z-index: 2;
    top: 25%;
    left: 57%;
  }

  .father .left4 img {
    left: 77%;
    top: 15%;
  }

  .father .left3 img {
    z-index: 2;
    top: 25%;
    left: 57%;
  }

  .father .left4 img {
    left: 77%;
    top: 15%;
  }

  .father .left3:hover img,
  .father .left4:hover img {
    transform: scale(1.1) rotate(2deg);
  }

  .right_blendy_img {
    display: none;
  }

  .father .center_blendy_img {
    margin: auto;
  }
  .father .center_blendy_img img {
    z-index: 3;
    top: 35%;
    left: 38%;
  }
  .columns_white_curved_line {
    position: static;
    margin-top: 50px;
  }

  .bottle_section {
    width: 100%;
  }

  .left_bottle_tilted_area {
    bottom: -75px;
  }

  .blue_dark_bg .person_img_area {
    bottom: -400px;
  }

  .right_bottle_tilted_area {
    right: -15%;
    bottom: -120px;
  }

  .yellow_bg .vantagens {
    left: -25% !important;
  }

  .vantagens h1 {
    font-size: 40px;
  }

  .points_area_img {
    width: 40px;
    height: 40px;
  }

  .points_area_img img {
    width: 100%;
    height: 100%;
  }

  .main_columns {
    width: 50%;

    text-align: center;
  }

  .my_custom_container_products {
    width: 80%;
    margin: auto;
  }

  .girls_yellow_bg {
    position: relative;
    width: 100%;
    margin-top: -300px;
  }

  .why_text {
    position: absolute;
    top: 0%;
    margin-top: 110px;
  }

  .curved_line_desktop {
    display: none;
  }

  .rec p {
    background-color: rgba(255, 255, 255, 0);
  }

  .bottle_img img {
    width: 300%;
  }

  .blue_dark_bg .vantagens {
    width: 30%;
    height: auto;
    text-align: center;
    margin-top: 25%;
  }

  .vantagens {
    width: 30%;
    height: auto;
    text-align: center;
    margin-top: 0;
  }

  .title_section_area {
    display: block;
    width: 100%;
  }

  .vantagens_h1 {
    font-size: 40px !important;
    text-align: center;
  }

  .table_aria {
    display: none;
  }

  .blue_dark_bg .foto_person_container {
    bottom: 150px;
  }

  .blue_dark_bg .foto_person_container img {
    width: 500px;
  }

  .light_blue_bg .foto_person_container {
    bottom: 150px;
  }

  .light_blue_bg .foto_person_container img {
    width: 500px;
  }

  .pink_bg .vantagens {
    left: 5%;
    top: -150px;
  }

  .top_flor {
    position: relative;
    top: 50px;
  }

  .pink_bg .person_img_area {
    right: 0% !important;
    width: 50%;
  }

  .yellow_bg .foto_person_container {
    bottom: 50px;
  }

  .yellow_bg .foto_person_container img {
    width: 500% !important;
  }

  .columns_about_us {
    display: block;
  }

  .column_about_us {
    width: 100%;
    margin-top: 50px;
  }

  .context_area_ab_us {
    width: 90% !important;
    top: 50px;
  }

  .elemento_grafico_B_black_bg {
    width: 300px !important;
    height: 300px;
    position: absolute;
    z-index: 0;
    top: 350px;
    right: -500px;
    transform: rotate(90grad);
  }

  .title_main_answer_section h1 {
    font-size: 50px !important;
  }

  .faq-button {
    font-size: 40px;
    max-width: 300px;
    justify-content: space-between;
  }

  .elemento_grafico_B_green_bg {
    top: 100px !important;
    left: 50px;
    width: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .father img {
    width: 200px !important;
  }
  .columns_white_curved_line {
    position: static;
  }

  .why_text {
    width: 80%;
    left: 10%;
  }

  .elemento_grafico_d {
    margin: -300px 0px 0px 0px;
  }

  .elemento_grafico_b {
    margin: 450px 150px 0px 0px;
  }

  .b_letter_pink_bg {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .father .center_blendy_img img {
    right: 18%;
  }
  .green_bg .foto_person_container {
    right: 50px;
  }

  .ingredients_area {
    right: 9%;
  }

  .left_bottle_section {
    left: -10%;
  }

  .elemento_grafico_d {
    display: none;
  }
  .columns_white_curved_line {
    position: static;
    margin-top: 100px;
  }
  .pink_bg .foto_person_container {
    bottom: 0px;
    left: -100px;
  }

  .pink_bg .foto_person_container img {
    width: 400px;
  }

  .green_bg .context_area,
  .light_blue_bg .context_area {
    margin-top: 0px;
  }


  .yellow_bg .foto_person_container {
    bottom: 200px;
    right: -200px;
  }

  .yellow_bg .foto_person_container img {
    width: 800px !important;
  }

  .blue_dark_bg .person_img_area {
    bottom: -600px;
  }

  .pink_bg .person_img_area {
    width: 500% !important;
    bottom: -200px;
  }

  .blue_dark_bg .vantagens {
    width: 50% !important;
    left: -25px;
  }

  .pink_bg .vantagens {
    width: 500% !important;
    left: -25px;
    display: flex;
  
  }


  .vantagens {
    margin-top: 0px;
  }



  .collagen_person {
    width: 200% !important;
    position: relative;
    bottom: 100px;
    right: 100px;

  }

  .after_party_person {
    width: 200%;
    transform: scaleX(-1);
    right: 100px;
    bottom: 400px;
    position: relative;
  }

  .FAQ_section .button-container {
    display: grid;
    margin-top: 25px;
  }

  .FAQ_section .faq-button {
    margin: 0px;
    padding: 0px 0px;
    text-align: center;

    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .elemento_grafico_D_ybg,
  .elemento_grafico_E_ybg {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg);
    transition: var(--transition);
    overflow-y: auto;
  }

  .nav-links li {
    opacity: 0;
    margin: 20px 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    right: 0;
    height: 275px;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .father {
    display: none;
  }

  .elemento_grafico_Y_slider_bottels,
  .elemento_grafico_B_slider_bottels {
    position: absolute;
    width: 30%;
  }

  .elemento_grafico_Y_slider_bottels {
    bottom: 100px;
    transform: rotate(90grad);
  }

  .elemento_grafico_B_slider_bottels {
    bottom: 200px;
    transform: rotate(90grad);
    right: 0;
  }

  .slider-wrapper {
    position: relative;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-wrapper.loaded {
    opacity: 1;
  }

  .product-slider {
    width: 100%;
    height: 90vh;
    position: relative;
    display: block;
    overflow: hidden;
  }

  .slider-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
  }

  .slide {
    flex: 0 0 70%; /* Reduce the width of each slide to 80% */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .slide.active {
    opacity: 1;
    transform: scale(1);
  }

  .slide img {
    max-width: 90%;

    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .desktop-message {
    display: none; /* Hidden by default */
  }

  .elemento_grafico_Y {
    display: none;
  }

  .ingredients_area {
    width: 90%;
    position: static;
    margin: auto;
  }

  .bottom_flor {
    position: static;
    display: flex;
    flex-direction: column-reverse; /* or column depending on your layout */
    justify-content: space-between;
    align-items: center;
  }

  .vantagens {
    position: static;
    width: 80%;
    margin-top: 100px;
  }

  .person_img_area {
    margin: auto;
    position: static;
  }

  .bottle_tilted_area {
    display: none;
  }

  .points_area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
  }

  .points_area_img {
    margin-bottom: 10px;
  }

  .points_area_text {
    font-size: 16px;
  }

  .columns {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .elemento_grafico_E {
    display: none;
  }

  .elemento_grafico_L {
    display: none;
  }

  .curved_line_context_content {
    margin-top: 100px;
  }

  .left_first_rec {
    margin-top: 75px;
  }

  .columns_white_curved_line {
    margin-top: 150px;
    display: grid;
  }

  .main_columns {
    width: 95%;
  }

  .left_column .left__recs__line .white_line_icon {
    order: -1;
  }

  .elemento_grafico_L_yellow_bg {
    top: -50px;
    left: -50px;
    opacity: 100%;
    width: 300px;
    z-index: -1;
  }

  .why_bg_section {
  }

  .why_bg_section img {
    width: 130%;
    left: -10%;
  }

  .elemento_grafico_L_line_curved {
    display: none;
  }

  .title_main_answer_section {
    display: none;
  }

  .FAQ_title h1 {
    font-size: 60px;
  }

  .context_area_footer {
    display: grid;
  }

  .footer_logo {
    width: 100%;
  }

  .footer_yellow_bg {
    height: auto;
  }

  .green_bg .foto_person_container img {
    width: 500px !important;
    right: 0;
  }

  .pink_bg .person_img_area {
    width: 30% !important;
    bottom: -200px;
  }

  .pink_bg .top_flor {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }

  /* Reorder elements based on desired layout */
  .pink_bg .mobile_title_section_area {
    order: 1;
  }

  .pink_bg .bottle_section {
    order: 2;
  }

  .pink_bg .ingredients_area {
    order: 3;
  }

  .pink_bg .vantagens {
    order: 4;
    width: 90% !important;
    position: static;
    margin: auto !important;
  }

  .pink_bg .person_img_area {
    order: 5;
    width: 40% !important;
  }

  .collagen_person {
    bottom: 0px !important;
    right: 100px;
    z-index: 2;
  }

  .j1_letter_pink_bg{
    position: relative;
    width: 250px;
    left: 450px !important;
  }

  .pink_bg .bottom_flor {
    position: static;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
  }

  .blue_dark_bg {
    height: auto;
  }

  .blue_dark_bg .vantagens {
    width: 90% !important;
    margin-top: -15% !important;
    margin-bottom: 85%;
  }

  .light_blue_bg .person_img_area {
    position: static;
    margin: auto;
    width: 50%;
    margin: 0 0 -100px -150px;
  }

  .light_blue_bg .context_area {
    width: 100%;
  }

  .yellow_bg .vantagens,
  .light_blue_bg .vantagens {
    width: 90%;
    position: static;
  }

  .elemento_grafico_E_blue_dark_bg {
    opacity: 50%;
  }

  .elemento_grafico_E_light_blue_bg {
    display: none;
  }

  .bottle_section {
    display: flex;
    justify-content: space-evenly;
  }

  .green_bg .bottle_img {
    position: relative;
  }

  .mobile_letters_section{
    display: inline;
    position: absolute;
  }

  .mobile_right_letters_section{
    width: 50%;
    right: -20%;
  }


  .mobile_left_letters_section{
    width: 50%;
    left: -20%;
  }

  .green_bg .person_img_area .mobile_letters_section{
    width: 30%;
  }

  .green_bg .person_img_area .mobile_letters_section .l_letter{
    top: -200px;
    position: relative;
  }
  .green_bg .person_img_area .mobile_letters_section .b_letter{
    top: -200px;
    position: relative;
    z-index: 0;
    left: 5% !important;
  }

  .before_party_person{
    position: relative;
    z-index: 5;
  }


  .green_bg .person_img_area .mobile_left_letters_section{
    left: 0%;
  }


  .bottle_section img {
    position: relative;
  }

  .blue_dark_bg .top_flor {
    display: flex;
    flex-direction: column;
  }

  .blue_dark_bg .mobile_title_section_area {
    order: -1;
  }

  .before_party_bottle {
    position: relative;
  }

  .blue_dark_bg .bottle_section {
    order: -1;
  }

  .collagen_person {
    bottom: 100px;
    right: 200px;
  }

  .footer_contact_title {
    text-align: center;
    margin-top: 0px;
  }

  .columns_about_us {
    width: 90% !important;
    margin: 0 auto !important;
    margin-bottom: 100px;
    text-align: center;
  }

  .context_area_ab_us {
    width: 100% !important;
  }


  .foto_person_before_party {
    bottom: -50px;
    width: 500% !important;
    right: 200px;
  }

  .yellow_bg .bottom_flor .mobile_left_letters_section{
    left: 450px;
  }
  .yellow_bg .bottom_flor .mobile_right_letters_section{
    right: 400px !important;
  }

  .blue_dark_bg .person_img_area {
    position: relative;
    width: 30% !important;
    bottom: -720px;
    left: -50% !important;
  }

  .blue_dark_bg .person_img_area .e_letter {
    bottom: 200px;
    right: 300px !important;
  }

  .pink_bg .bottle_section img {
    width: 125% !important;
    right: 0px !important;
  }

  .pink_bg .bottom_flor .person_img_area .e_letter{
    left: 350px !important;
    width: 200px;
    top: -100px;
  }

  .power_person{
    position: relative;
    z-index: 5;
  }

  .pink_bg .bottom_flor .person_img_area .y_letter{
    right: -250px !important;
    width: 300px;
    top: 00px;
    position: relative;
  }

  .after_party_person {
    bottom: 0% !important;
  }

  .top_flor {
    display: inline;
  }

  .letters_section {
    display: none;
  }

  .bottle_section {
    width: 400px;
    margin: auto;
  }

  .mobile_title_section_area {
    display: block;
  }

  .title_section_area {
    display: none;
  }

  .left_bottle_section {
    left: 9%;
  }

  .bottle_img {
    display: none;
  }
  .context_aria_about_us {
    margin: auto;
  }
  .footer_column_contacts {
    display: flex;
    justify-content: space-around;
  }

  .yellow_top_bg_section {
    margin-bottom: 250px;
  }

  .vantagens h1 {
    font-size: 35px !important;
  }
  .yellow_bg .person_img_area {
    width: 90% !important;
    margin: auto;
    margin-bottom: -150px;
    position: static;
  }


  .context_area_ab_us {
    font-size: 25px;
    line-height: 1.5;
    color: white;
  }
  
  .column_about_us {
    width: 100%;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .elemento_grafico_b {
    display: none;
  }

  .elemento_grafico_E_blue_dark_bg {
    display: none;
  }

  .why_text {
    width: 100%;
    left: 0;
  }

  .left_column {
    margin-top: 50px;
  }

  .vantagens {
    width: 95% !important;
  }

  .blue_dark_bg .vantagens{
    margin-top: 12% !important;
    right: 50px;
  }

  .blue_dark_bg .person_img_area{
    bottom: -600px !important;
    width: 30%;
    right: 10% !important;
  }

  .blue_dark_bg .person_img_area .e_letter{
    width: 300px;
    bottom: 50px;
    right: 100px !important;
  }

  .yellow_bg .vantagens {
    left: 30px;
  }

  .vantagens h1 {
    font-size: 30px !important;
  }
  .black_bg h1 {
    font-size: 55px;
  }

  .elemento_grafico_D_black_bg {
    opacity: 0.7;
  }

  .context_area_ab_us {
    font-size: 20px;
    line-height: 1.7;
    color: white;
  }

  .footer_yellow_bg .FAQ_title {
    width: 90%;
  }

  .yellow_bg .vantagens h1 {
    font-size: 30px !important;
  }

  .context_area_ab_us {
    font-size: 22px;
  }
}
